<html>
  <body>
    <p>
    <h1>Over Watch Heroes <br></h1>
    <% heroes.forEach(function(hero, i){%>
      <li><%=i%> <%=hero.heroName %>: <%=hero.skill %> </li>
    <% }); %>

    </p>
  </body>
</html>
